@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*------ utiltity classes -----*/
.professional{
    align-items: center;
}
/*its also known as clearfix*/
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;  /*For IE 6/7 (trigger hasLayout) */
}

body {
    background: #e2e2e2;
    font-family: 'Droid Sans', sans-serif;
    line-height: 1;
    font-size: 16px;
}
nav{
    background: #5f9ea0;
    line-height: 2;
}

nav span{
    font-size: 30px;
    color: #f0ecec;
    margin-left: 30px;
}
.wrapper {

}
.pricing-table {
    width: 40%;
    margin: 50px auto;
    text-align: center;
    padding: 10px;
    padding-right: 0;
}
.pricing-table .heading{
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 4rem;
}
.block{
    width: 30%;
    margin: 0 15px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
/*    border: 1px solid red;*/
}
/*Shared properties*/
.pt-footer{
    color: #e2e2e2;
    text-transform: capitalize;
    line-height: 2.5;
    position: relative;
}
.title{
    font-size: 30px;
    color: #e2e2e2;
    text-transform: capitalize;
    line-height: 2;
    position: relative;
}
.pt-footer a{
    text-decoration: none;
    color: #e2e2e2;
    font-size: 20px;
}
.content{
    position: relative;
    color: #e2e2e2;
    padding: 20px 0 10px 0;
}
/*arrow creation*/
.content:after, .content:before,.pt-footer:before,.pt-footer:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.pt-footer:after,.pt-footer:before{
    top:0;
}
.content:after,.pt-footer:after {
	border-color: rgba(136, 183, 213, 0);
	border-width: 5px;
	margin-left: -5px;
}
/*/arrow creation*/

.features{
    list-style-type: none;
    background: #FFFFFF;
    text-align: left;
    color: #9C9C9C;
    padding:30px 22%;
    font-size: 20px;
}
.features li{
    padding:15px 0;
    width: 100%;
}
.features li span{
   padding-right: 0.4rem;
}
.pt-footer{
    font-size: 0.95rem;
    text-transform: capitalize;
}
/*PROFESSIONAL*/
.professional .title{
    background: #5f9ea0;
}
.professional .content,.professional .pt-footer{
    background: #5f9ea0;
}
.professional .content:after{
	border-top-color: #5f9ea0;
}
.professional .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*BUSINESS*/
